* {
    box-sizing: border-box;
}

body {
    font: 15px/1.5 Gotham, sans-serif;
    color: #292f33;
    padding: 1.5em;
}

.members {
    list-style: none;
    padding-left: 0;
}

.member {
    overflow: hidden;
    font-size: 1.5em;
}

.avatar {
    display: inline-block;
    vertical-align: middle;
    width: 2em;
    margin-right: 0.444em;
}

